/* ===== GLOBAL ===== */
body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #fff, #ccc);
  color: #333;
  display: flex;
  justify-content: center;
  padding: 40px;
  min-height: 100vh;
}

/* ===== Kontainer semua program ===== */
.container {
  background: #ffffff;
  padding: 30px;
  border-radius: 16px;
  width: 650px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.15);
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* ===== HEADINGS ===== */
h2, h3 {
  text-align: center;
  color: #2c3e50;
  font-family: "Times New Roman", serif;
  margin-bottom: 15px;
}

h5{
  text-align: center;
  color:#626f78 ;
  margin-top: 0px;
}

/* ===== FORM SECTION ===== */
.form-section {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

input, select {
  padding: 10px;
  width: 180px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fafafa;
  font-size: 14px;
  transition: 0.2s ease;
}

input:focus, select:focus {
  border-color: green;
  box-shadow: 0 0 6px rgba(244,175,71,0.5);
  outline: none;
}

/* ===== BUTTON ===== */
button {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background-color: #85bb65;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

button:hover {
  transform: translateY(-2px);
  background-color: green;
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

/* ===== Tabel ===== */
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 10px;
  background: white;
}

table thead {
  background: #85bb65;
  color: white;
}

table th, table td {
  border: 1px solid #e0e0e0;
  padding: 10px;
  text-align: center;
}

table tbody tr:nth-child(even) {
  background: #f9f9f9;
}

table tbody tr:hover {
  background: #fff5e1;
}

/* ===== Box total & sisa ===== */
.summary {
  margin-top: 20px;
  background: #f4f6f7;
  padding: 15px;
  border-radius: 12px;
  border-left: 6px solid #85bb65;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.08);
}

.summary p {
  margin: 5px 0;
  font-size: 15px;
}

/* ===== Button excel & reset ===== */
.excel-buttons,
.reset-button {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.reset-button {
  justify-content: center;
}

#btnReset {
  background: #F4AF47;
}

#btnReset:hover {
  background: #c0392b;
  transform: translateY(-2px);
}

.footer {
  margin-top: 20px;
  font-size: 0.70em;
  color: #555;
  text-align: center;
  margin-bottom: 0px;
  
}